.petContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.petImg {
  margin-top: -8rem;
}

.petInfo {
  max-width: 40rem;
}

.lostDate {
  display: inline-block;
  margin-bottom: 0.6rem;
  color: var(--light-brown);
}

.region {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 0;
}

.petInfoList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.petInfoList li {
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--beige);
  width: 10rem;
  box-shadow: 2px 4px 20px -2px rgba(0, 0, 0, 0.05);
}

.petInfoList li > strong {
  color: var(--brown);
  font-size: 1.5rem;
}

.petInfoList li > span {
  color: var(--brown);
  font-size: 1rem;
}

.contact {  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  margin-bottom: 3rem;
  font-size: 1.3rem;
  background-color: var(--green);
  max-width: 21rem;
  box-shadow: 2px 4px 20px -2px rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
}

.contact div > p,
.contact div > p strong {
  color: var(--white);
}

.contact svg > * {
  fill: var(--white);
}

.comment {
  padding: 1.25rem;
  border-radius: 0.7rem;
  border: 1px solid #CCC;
  max-width: 30rem;
  position: relative;
}

.comment::before {
  content: 'Comentário';
  position: absolute;
  top: -13px;
  left: 1rem;
  background: var(--white);
  padding: 0 0.4rem;
  color: var(--brown);
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width: 1130px) {
  .petContainer {
    padding: 0 1.25rem;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;
  }
  .petImg {
    margin-top: 0;
  }
  .petImg img {
    border-radius: 2rem;
    max-width: 100%;
  }
  .petInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  .comment {
    max-width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .petInfoList {
    gap: 1rem;
  }
  .petInfoList li {
    padding: 2rem 1rem;
    width: 7.5rem;
  }
  .petInfoList li > strong {
    color: var(--brown);
    font-size: 1.2rem;
  }
  .contact {  
    font-size: 1rem;
  }
}