@media screen and (max-width: 1200px) {
  .form {
    justify-self: center;
    min-width: 30rem;
  }
}

@media screen and (max-width: 535px) {
  .form {
    min-width: 100%;
  }
  .form div {
    max-width: 100%;
   }
}