.wrapper {
  margin: 4rem auto 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}