.header {
  background-color: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.10);
  z-index: 999;
  top: 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.link {
  color: var(--brown);
  font-weight: bold;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.link::after {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('../Assets/user.svg');
}