@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*:root {
  --yellow: #FFE76A;
  --yellow-2: #FFDB57;
  --brown: #4A2C2C;
  --light-brown: #6B4F4F;
  --beige: #FEF2F2;
  --white: #FFFFFF;
  --green: #42B64D;
  --red: #F03861;
  --black: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: var(--black);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25px;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.mainContainer {
  margin-top: 8rem;
  flex: 1;
}

.title {
  color: var(--brown);
  font-size: 3rem;
  line-height: 1;
  /* margin-bottom: 1rem; */
}

@media screen and (max-width: 470px) {
  .title {
    font-size: 2rem;
  }
}

.paragraph {
  font-size: 1.1rem;
  color: var(--black);
  line-height: 1.4;
}
